[submodule "02 Trabajo Colaborativo/TP02-Actividad2"]
	path = 02 Trabajo Colaborativo/TP02-Actividad2
	url = https://github.com/Laureano097/TP02-Actividad2
[submodule "02 Trabajo Colaborativo/conflict-exercise"]
	path = 02 Trabajo Colaborativo/conflict-exercise
	url = https://github.com/Laureano097/conflict-exercise.git
