[submodule "02 Trabajo Colaborativo/TP2-Repo"]
	path = 02 Trabajo Colaborativo/TP2-Repo
	url = https://github.com/Laureano097/TP2-Repo.git
[submodule "02 Trabajo Colaborativo/conflict-exercise"]
	path = 02 Trabajo Colaborativo/conflict-exercise
	url = https://github.com/Laureano097/conflict-exercise.git
